version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - keycloak_network

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak_db
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: adminpass
      KC_HTTP_RELATIVE_PATH: /
      KC_ADMIN: admin
      KC_ADMIN_PASSWORD: admin
      KC_METRICS_ENABLED: "true"
      KC_LOGLEVEL: DEBUG
      KC_HOSTNAME_STRICT: "false"
    command: ["start-dev"]
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - keycloak_network

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Web UI
    networks:
      - keycloak_network

volumes:
  postgres_data:

networks:
  keycloak_network:
    driver: bridge